@model WebApp_v1.Models.Item;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit an Item</h1>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>

        <button type="submit" class="btn btn-primary">Edit</button>

</form>

<div>

</div>